<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    
    <div class="tab-headers">
        <button class="tablinks" id="defaultTab">Home</button>
        <button class="tablinks">News</button>
        <button class="tablinks">Contact</button>
        <button class="tablinks">About</button>
    </div>
    <div id="Home" class="tab-content">
        <h3>Home</h3>
        <p>Home is where the heart is..</p>
    </div>
    <div id="News" class="tab-content">
        <h3>News</h3>
        <p>Some news this fine day!</p>
    </div>
    <div id="Contact" class="tab-content">
        <h3>Contact</h3>
        <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>
    <div id="About" class="tab-content">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

</body>

</html>