* {box-sizing:border-box}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1abc9c;
    padding: 70px;
    color: white;
    text-align: center;
}

header p, header h1 {
    margin: 0;
}

header p {
    margin-top: 20px;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
}

nav ul li a {
    color: white;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    background-color: #DDD;
    color: #000;
}

main .row {
    display: flex;
    flex-wrap: wrap;
}

main .row .col-1 {
    flex: 30%;
    background-color: #f1f1f1;
}

main .row .col-2 {
    flex: 70%;
}

.col-1, .col-2 {
    padding: 20px;
}

.col-1 figure {
    margin-left: 0;
    margin-right: 0;
}

.col-1 figure img {
    height: 250px;
    background-size: cover;
}

.col-1 figcaption {
    margin-top: 10px;
}

.col-1 img {
    width: 100%;
}

.col-1 > img {
    margin-bottom: 10px;
}

.col-2 article {
    margin-bottom: 50px; 
}

.col-2 article img {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    background-size: cover;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px; 
}

@media screen and (max-width: 700px) {
    main .row, nav ul {
        flex-direction: column;
    }
}