<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./fontawesome/css/all.css">
<link rel="stylesheet" href="./styles/main.css">
<title>Icon Bar</title>
</head>
<body>
<nav class="main-nav">
	<ul class="icon-bar">
    	<li><a class="active" href="#"><i class="fa fa-home"></i></a></li>
    	<li><a href="#"><i class="fa fa-search"></i></a></li>
    	<li><a href="#"><i class="fa fa-envelope"></i></a></li>
    	<li><a href="#"><i class="fa fa-globe"></i></a></li>
    	<li><a href="#"><i class="fa fa-trash"></i></a></li>
    <ul>
<nav>
</body>
</html>