<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page Animation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Transitions</title>
</head>
<body>
    <header>
        <h1>Welcome To My Site!</h1>
    </header>
    <section>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet illo assumenda tempore, quidem unde mollitia vitae in laboriosam non! Itaque incidunt delectus, quibusdam sint consectetur eius, hic consequuntur ut nam alias et ex laborum aliquam asperiores repudiandae facere, dolorem cupiditate. Aspernatur ducimus sunt sit suscipit, est culpa harum totam, nobis minus voluptate, odio explicabo fuga in quis sint eius recusandae. 
        </p>
    </section>
    <a href="#" class="btn">Read More</a>
</body>
</html>