<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

    <div class="container">
        <div id="sideNav" class="sidenav-overlay col-1">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <button onclick="closeSideNav()">&times</button>
        </div>
        <div class="col-2">
            <h1>How TO - Side Navigation</h1>
    
            <div class="button-group">
                <button onclick="sideNav('overlay')">Sidenav overlay</button>
                <button onclick="sideNav('overlayWOAnimation')">Sidenav overlay without animation</button>
                <button onclick="sideNav('pushOffCanvas')">Sidenav push(off-canvas)</button>
                <button onclick="sideNav('pushWOOpacity')">Sidenav push w/opacity</button>
                <button onclick="sideNav('fullWidth')">Sidenav full-width</button>
            </div>
            <div class="col-2-overlay"></div>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
            <p>Some paragraph here.</p>
        </div>
    </div>

</body>

</html>