<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./fontawesome/css/all.css">
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

    <main>
        <div class="to-do">
            <div class="to-do-header">
                <h1>My To Do List</h1>

                <form id="toDoField">
                    <input type="text" name="toDoList" autocomplete="off" >
                    <input type="submit" value="Add">
                </form>
            </div>

            <div class="to-do-list">
                <ul></ul>
            </div>
        </div>
    </main>

</body>

</html>