<!DOCTYPE html>
<html>

<head>
    <title>Image Comparison Slider</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    
    <div class="container">
        <img draggable="false" class="row-1" src="./images/img_snow.jpg" width="300" height="200" alt="Snow">
        <img draggable="false" class="row-2" src="./images/img_forest.jpg" width="300" height="200" alt="Forest">

        <div draggable="false" class="slider"></div>
    </div>

</body>