<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

    <div class="books">
        <div class="book">
            <a href="#"><img src="./images/book.png" width="480" height="697" alt="Book"></a>
            <h2><a href="#">User Interface Designs (PDF)</a></h2>
            <p>Learn user interface design from experienced people.</p>
        </div>

        <div class="book">
            <a href="#"><img src="./images/book.png" width="480" height="697" alt="Book"></a>
            <h2><a href="#">User Interface Designs (PDF)</a></h2>
            <p>Learn user interface design from experienced people.</p>
        </div>

        <div class="book">
            <a href="#"><img src="./images/book.png" width="480" height="697" alt="Book"></a>
            <h2><a href="#">User Interface Designs (PDF)</a></h2>
            <p>Learn user interface design from experienced people.</p>
        </div>
    </div>

</body>

</html>