<!DOCTYPE html>
<html>

<head>
    <title>Simple Porfolio</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

    <div class="main-container">
        <header class="main-header">
            <figure>
                <img src="./images/profile.png" alt="Profile Picture" width="499" height="498">
                <figcaption>
                    Leo Bailey <br>
                    <small>@leo_bai - Entertaiment</small>
                </figcaption>
            </figure>
            <button class="edit"><i class="favicon"></i> Edit</button>
        </header>
        <nav class="main-nav">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <main>
            <section class="main-section">
                <h5>Insights</h5>
                <button class="date">May 28 - Jun 25 <i class="favicon"></i></button>
                <div class="insights">
                    <div class="card first">
                        <h4>People Reached <span><i class="favicon"></i> 7%</span></h4>
                        <p>1,090</p>
                        <small>More info <i class="favicon"></i></small>
                    </div>
                    <div class="card">
                        <h4>Post Engagements <span><i class="favicon"></i> 25%</span></h4>
                        <p>305</p>
                    </div>
                    <div class="card">
                        <h4>Page Likes <span><i class="favicon"></i> 18%</span></h4>
                        <p>13</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>

</html>