<!DOCTYPE html>
<html>

<head>
    <title>Tabs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    
    <div class="tab-header">
        <ul>
            <li id="defaultTab" class="tablinks">London</li>
            <li class="tablinks">Paris</li>
            <li class="tablinks">Tokyo</li>
        </ul>
    </div>
    <div id="London" class="tab-content">
        <h4>London</h4>
        <span class="close-tab" onclick="closeTab('London')">&times</span>
        <p>London is the capital city of England.</p>
    </div>
    <div id="Paris" class="tab-content">
        <h4>Paris</h4>
        <span class="close-tab" onclick="closeTab('Paris')">&times</span>
        <p>Paris is the capital of France.</p>
    </div>
    <div id="Tokyo" class="tab-content">
        <h4>Tokyo</h4>
        <span class="close-tab" onclick="closeTab('Tokyo')">&times</span>
        <p>Tokyo is the capital of Japan.</p>
    </div>

</body>

</html>
