<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <h1>Demo: Tooltip Examples</h1>
    <p>A tooltip is often used to specify extra information about something when the user moves the mouse pointer over an element:</p>
    
    <div class="container">
        <div>
            <div class="tooltip">
                Top
                <span class="tooltip-text top">Tooltip Text</span>
            </div>
        </div>
        <div>
            <div class="tooltip">
                Right
                <span class="tooltip-text right">Tooltip Text</span>
            </div>
        </div>
        <div>
            <div class="tooltip">
                Bottom
                <span class="tooltip-text bottom">Tooltip Text</span>
            </div>
        </div>
        <div>
            <div class="tooltip">
                Left
                <span class="tooltip-text left">Tooltip Text</span>
            </div>
        </div>
    </div>
    
</body>

</html>