* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon-bar {
	list-style-type: none;
    display: flex;
    background-color: #777;
}
.icon-bar li {
	flex: 1;
}
li a {
	display: block;
    padding: 10px 0px;
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
li a.active {
	background-color: #4CAF50 !important;
}
li a:hover {
	background-color: #000;
}

@media (max-width: 500px) {
    .icon-bar {
        display: block;
        width: 20%;
    }
    li a{
        padding: 20px;
    }
}