<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    
    <div class="container">
        <div class="card">
            <div class="card-header">
                <img src="./images/rover.jpeg" alt="Rover Car" width="1050" height="701">
            </div>
            <div class="card-body">
                <span class="blue">TECHNOLOGY</span>
                <h2>Why is the Tesla Cybertruck designed the way it is?</h2>
                <p>An exploration into the truck's polarising design.</p>
                <figure class="hero">
                    <img src="./images/user-1.jpg" alt="User Image" class="hero-img" width="128" height="128">
                    <figcaption>
                        <h3>Carrie Brewer</h3>
                        <small>2h ago</small>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./images/ballons.jpeg" alt="Ballons" width="1050" height="700">
            </div>
            <div class="card-body">
                <span class="purple">POPULAR</span>
                <h2>How to Keep Going When You Don't Know What's Next</h2>
                <p>The future can be scary, but there are ways to deal with that fear.</p>
                <figure class="hero">
                    <img src="./images/user-2.jpg" alt="User Image" class="hero-img" width="128" height="128">
                    <figcaption>
                        <h3>Jerome Walton</h3>
                        <small>Yesterday</small>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./images/city.jpeg" alt="City" width="1189" height="669">
            </div>
            <div class="card-body">
                <span class="pink">DESIGN</span>
                <h2>10 Rules of Dashboard Design</h2>
                <p>Dashboard Design Guidelines</p>
                <figure class="hero">
                    <img src="./images/user-3.jpg" alt="User Image" class="hero-img" width="128" height="128">
                    <figcaption>
                        <h3>Lewis Daniels</h3>
                        <small>23 Dec 2019</small>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

</body>

</html>