* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.container {
    display: flex;
    height: 250px;
    border: 1px solid #CCC;
}
.tab-header {
    flex: 1;
    background-color: #F1F1F1;
    border-right: 1px solid #CCC;
}
.tab-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
    padding: 20px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: inherit;
}
ul li:hover {
    background-color: #DDD;
}
ul li.active {
    background-color: #CCC;
}
.tab-items {
    flex: 2;
}
.tab-content {
    height: 100%;
    position: relative;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.tab-content .close-tab {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}
.tab-content .close-tab:hover {
    color: red;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}