<!DOCTYPE html>
<html>

<head>
    <title>Responsive Website Using Flexbox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    
    <header>
        <h1>My Website</h1>
        <p>With a <strong>flexible</strong> layout.</p>
    </header>
    <nav>
        <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav>
    <main>
        <div class="row">
            <section class="column col-1">
                <h2>About Me</h2>
                <small>
                    <strong>Photo of me:</strong>
                </small>
                <figure>
                    <img src="./images/avatar_smoke.jpg" alt="Avatar">
                    <figcaption>Some text about me in culpa qui officia deserunt mollit anim..</figcaption>
                </figure>
                <h3>More Text...</h3>
                <p>Lorem ipsum dolor sit ame.</p>
                <img src="./images/cars1.jpg" alt="Car">
                <img src="./images/cars2.jpg" alt="Car">
                <img src="./images/cars3.jpg" alt="Car">
            </section>
            <section class="column col-2">
                <article>
                    <h2>TITLE HEADING</h2>
                    <small>
                        <strong>Title description, Dec 7, 2017</strong>
                    </small>
                    <img src="./images/london.jpg" alt="London">
                    <p>Some text...</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </article>
                <article>
                    <h2>TITLE HEADING</h2>
                    <small>
                        <strong>Title description, Dec 7, 2017</strong>
                    </small>
                    <img src="./images/img_5terre.jpg" alt="Terre">
                    <p>Some text...</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <h2>Footer</h2>
    </footer>
</body>

</html>