* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F3F3F2;
}

.main-container {
    width: 60%;
    margin: 75px auto;
    padding: 50px;
    background-color: white;
}

.main-container .main-header {
    overflow: hidden;
}

.main-container .main-header figure {
    float: left;
}

.main-container .main-header button {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.main-container .main-header figure img {
    width:75px;
    height: 75px;
    border-radius: 50%;
}

.main-container .main-header figure figcaption {
    display: inline-block;
    vertical-align: top;
    line-height: 1.3em;
    margin-top: 15px;
}

.main-container .main-header figure figcaption small{
    color: #939794;
}

.main-container .main-nav {
    margin-top: 15px;
    border-top: 1px solid #F3F3F2;
    overflow: hidden;
}

.main-container .main-nav ul li {
    list-style-type: none;
    float: left;
}

.main-container .main-nav ul li a {
    display: block;
    padding: 14px 15px 14px 0px;
    text-decoration: none;
    color: #939794;
    font-size: 0.8em;
}

.main-container .main-nav ul li a.active {
    color: #2F3030;
}

.main-container .main-nav ul li a:hover {
    color: #2F3030; 
}

.main-container main section {
    overflow: hidden;
}

.main-container main section h5 {
    float: left;
}

.main-container main section button {
    font-size: 0.7em;
    float: right;
    background-color: white;
    outline-style: none;
}

.main-container main section .insights {
    padding: 15px 0;
    clear: left;
    overflow: hidden;
}

.main-container main section .insights .card {   
    border: 1px solid gray;
    float: left;
    width: 33.33%;
    padding: 15px;
    border-radius: 5px;
}

.main-container main section .insights .first {   
    background-color: black;
    color: white;
}

.main-container main section .insights .card p {
    margin-top: 15px;
    font-size: 1.5em;
}

.main-container main section .insights .card span {
    float: right;
}

.main-container main section .insights .card small {
    float: right;
    position: relative;
    top: -20px;
}